{% extends 'base.html' %}
{% load snake %}

{% block page %}{{ snake.scientific_name }}{% endblock %}

{% block title %}<i>{{ snake.scientific_name }}</i>{% endblock %}

{% block breadcrumb %}
    {% if snake.old %}
        <li><a href="{% url 'snake:old' %}" title="Snake-Breeder - Anciens Serpents">Anciens serpents</a> <span class="divider">/</span></li>
    {% else %}
        <li><a href="#" title="Snake-Breeder - Serpents">Serpents</a> <span class="divider">/</span></li>
    {% endif %}
    <li><a href="" title="Snake-Breeder - {{ snake.family }}">{{ snake.family }}</a> <span class="divider">/</span></li>
    <li class="active">{{ snake.scientific_name }}</li>
{% endblock %}

{% block slideshow %}
    <div class="camera_wrap pattern_4 camera_emboss" id="camera_wrap_4">
        {% for image in snake.snakesalbum.all %}
            <div data-src="{{ image.picture.url }}">
                <div class="camera_caption fadeFromTop">
                    <!--<h1>Thailande 2008</h1>
                    <span>
                        Petit show avec un KINGCOBRA de 3.20m.
                    </span>-->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <p>
                <b>Maintenus:</b> {{ snake.sex }}
            </p>
            <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Famille: {{ snake.family }}</li>
                <li><i class="icon-li icon-ok"></i>Dentition: {{ snake.get_dentition_display }}</li>
                <li><i class="icon-li icon-ok"></i>Répartition: {% for rep in snake.repartition.all %}{{ rep.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                <li><i class="icon-li icon-ok"></i>Environnement: {% for env in snake.environment.all %}{{ env.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                <li><i class="icon-li icon-ok"></i>Moeurs: {{ snake.get_moeurs_display }}</li>
                <li><i class="icon-li icon-ok"></i>Mode de vie: {{ snake.get_life_display }}</li>
                <li><i class="icon-li icon-ok"></i>Reproduction: {{ snake.get_reproduction_display }}</li> 
                {% if snake.venom %}
                    <li><i class="icon-li icon-ok"></i>Venin(s): {% for venom in snake.venom.all %}{{ venom.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% else %}
                    <li><i class="icon-li icon-ok"></i>Venin(s): non venimeux</li>
                {% endif %}
                {% if snake.price %}
                    <li><i class="icon-li icon-ok"></i> Prix: CHF {{ snake.price|floatformat:2 }} </li>
                {% endif %}
                {% if snake.price_couple %}
                    <li><i class="icon-li icon-ok"></i> Prix de couple: CHF {{ snake.price_couple|floatformat:2 }} </li>
                {% endif %}
            </ul>
            <br/>
        </div>
        <div class="span6">
            <div class="box effect2">
                <h3>Informations complémentaires</h3>
                <p>
                    {{ snake.description }}	
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
        <!-- end description area -->
        <div class="titleborder top40 clearfix">
                <div>
                     Aussi de mon élevage
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="list_carousel" style="height:230px;">
                        <div class="carousel_nav">
                            <a class="prev" id="car_prev" href="#"><span>prev</span></a>
                            <a class="next" id="car_next" href="#"><span>next</span></a>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="heightauto">
                            <ul id="recent-projects" class="heightauto">
                                {% get_breed snake.pk %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(window).load(function() {
      $('.flexslider').flexslider({
      pauseOnHover: false,    
      slideshow: true,                //Boolean: Animate slider automatically
      slideshowSpeed: 4000,           //Integer: Set the speed of the slideshow cycling, in milliseconds
      animationSpeed: 1300,
      animation: "slide",              //String: Select your animation type, "fade" or "slide"
      easing: "swing",               //{NEW} String: Determines the easing method used in jQuery transitions. jQuery easing plugin is supported!
      direction: "horizontal",
      controlNav: true,               //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
      directionNav: true
      });
    });
  </script>
  <!-- CALL CAROUSEL LIST -->
  <script type="text/javascript">
      $(window).load(function(){			
                  $('#recent-projects').carouFredSel({
                      responsive: true,
                      width: '100%',
                      auto: true,
                      circular	: true,
                      infinite	: false,
                      prev : {
                          button		: "#car_prev",
                          key			: "left",
                              },
                      next : {
                          button		: "#car_next",
                          key			: "right",
                                  },
                      swipe: {
                          onMouse: true,
                          onTouch: true
                          },
                      scroll : 1500,
                      items: {
                          visible: {
                              min: 4,
                              max: 4
                          }
                      }
                  });
              });	
      </script>
      {% endblock %}