{% extends 'base.html' %}
{% load snake %}

{% block page %}{{ snake.scientific_name }}{% endblock %}

{% block title %}<i>{{ snake.scientific_name }}</i>{% endblock %}

{% block breadcrumb %}
    <li><a href="" title="Snake-Breeder - {{ snake.family }}">{{ snake.family }}</a> <span class="divider">/</span></li>
    <li class="active">{{ snake.scientific_name }}</li>
{% endblock %}

{% block slideshow %}
    <div class="camera_wrap pattern_4 camera_emboss" id="camera_wrap_4">
        {% for image in snake.snakesalbum.all %}
            <div data-src="{{ image.picture.url }}">
                <div class="camera_caption fadeFromTop">
                    <!--<h1>Thailande 2008</h1>
                    <span>
                        Petit show avec un KINGCOBRA de 3.20m.
                    </span>-->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    
      {% endblock %}